<a href="https://colab.research.google.com/github/hsuanchengsun/Natural-Language-Processing/blob/main/Basic_NLP_Features.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Question 1: Text acquisition

In [ ]:
# Automatically mount google drive using the file browser or
# mount google drive using code below
from google.colab import drive
drive.mount('/content/drive',  force_remount=False)

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd
# read a local csv file into Pandas DataFrame
%cd drive/MyDrive/Colab Notebooks/Mydata/
col_name = ['Cust_Rating', 'Datetime', 'Review', 'Resturant', 'City', 'State', 'Zipcode', 'Business_Rating_Score']
df = pd.read_csv("Restaurant_reviews_R.csv", header=None, names = col_name)
df.head(3)

/content/drive/MyDrive/Colab Notebooks/Mydata

,Cust_Rating,Datetime,Review,Resturant,City,State,Zipcode,Business_Rating_Score
0,5.0,2008-09-29 09:33:04,its the best pizza hut i'v found in florida al...,Pizza Hut,Orlando,FL,32819,3.5
1,3.0,2013-12-06 23:22:26,"This place is an interesting combo. The chef, ...",La Mongerie Bakery & Bistro,Atlanta,GA,30308,3.0
2,5.0,2008-11-16 09:44:04,Pizza Hut is great! You get huge pizzas for yo...,Pizza Hut,Orlando,FL,32819,3.5

## Question 2: Cleaned review with stems

In [ ]:
# Contraction expansion
!pip install contractions
import contractions

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting contractions
  Downloading contractions-0.1.72-py2.py3-none-any.whl (8.3 kB)
Collecting textsearch>=0.0.21
  Downloading textsearch-0.0.24-py2.py3-none-any.whl (7.6 kB)
Collecting anyascii
  Downloading anyascii-0.3.1-py3-none-any.whl (287 kB)
     |████████████████████████████████| 287 kB 4.0 MB/s
Collecting pyahocorasick
  Downloading pyahocorasick-1.4.4-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (106 kB)
     |████████████████████████████████| 106 kB 51.4 MB/s
Installing collected packages: pyahocorasick, anyascii, textsearch, contractions
Successfully installed anyascii-0.3.1 contractions-0.1.72 pyahocorasick-1.4.4 textsearch-0.0.24

In [ ]:
# Define contraction funtion
def contraction_expansion(text):
  expanded_word = []    
  for word in text.split():
  # using contractions.fix to expand
    expanded_word.append(contractions.fix(word))   
   
  return  ' '.join(expanded_word)

In [ ]:
# Test to see if there was any empty reviews in the dataset
df['Review'].isnull().values.any()

False

In [ ]:
# There is no empty reviews, so we start to work on contraction 
df['Review_expanded'] = df['Review'].apply(contraction_expansion)
df.iloc[5:9,:]

,Cust_Rating,Datetime,Review,Resturant,City,State,Zipcode,Business_Rating_Score,Review_expanded
5,2.0,2014-02-23 23:30:56,The 2 stars are for great variety. I would hav...,Waltham India Market,Waltham,MA,02453,3.0,The 2 stars are for great variety. I would hav...
6,4.0,2011-09-25 17:44:33,I bought a groupon for two for $59.00 for the ...,Sea To You Sushi,Newton,MA,02458,3.5,I bought a groupon for two for $59.00 for the ...
7,5.0,2014-09-25 14:38:01,I don't know why the other people have given t...,Reo's Ribs,Portland,OR,97266,2.5,I do not know why the other people have given ...
8,5.0,2016-12-19 14:38:55,This place is excellent and I'm glad we have i...,Ye Asian Bistro,Columbus,OH,43214,4.0,This place is excellent and I am glad we have ...

In [ ]:
# tokenize each review in the dataframe
from nltk.tokenize import wordpunct_tokenize
%time df['Review_Token'] = df['Review_expanded'].apply(wordpunct_tokenize)
df.head(3)

CPU times: user 1.93 s, sys: 417 ms, total: 2.34 s
Wall time: 2.35 s

,Cust_Rating,Datetime,Review,Resturant,City,State,Zipcode,Business_Rating_Score,Review_expanded,Review_Token
0,5.0,2008-09-29 09:33:04,its the best pizza hut i'v found in florida al...,Pizza Hut,Orlando,FL,32819,3.5,its the best pizza hut i'v found in florida al...,"[its, the, best, pizza, hut, i, ', v, found, i..."
1,3.0,2013-12-06 23:22:26,"This place is an interesting combo. The chef, ...",La Mongerie Bakery & Bistro,Atlanta,GA,30308,3.0,"This place is an interesting combo. The chef, ...","[This, place, is, an, interesting, combo, ., T..."
2,5.0,2008-11-16 09:44:04,Pizza Hut is great! You get huge pizzas for yo...,Pizza Hut,Orlando,FL,32819,3.5,Pizza Hut is great! You get huge pizzas for yo...,"[Pizza, Hut, is, great, !, You, get, huge, piz..."

In [ ]:
# Normalization with stemming
import nltk
from nltk.stem.snowball import SnowballStemmer

snow_stemmer = SnowballStemmer(language='english')  # set the language the parameter
  
#stem each word in the token list of each review
def snowball_Stemmer(token_col):
  """ stem each word in the specfical col """
  snowball_words = []
  for w in token_col:
    x = snow_stemmer.stem(w)
    snowball_words.append(x)
  return snowball_words

In [ ]:
# apply snowballstemmer
%time df['Review_Stem'] = df['Review_Token'].apply(snowball_Stemmer)
df.head(3)

CPU times: user 1min 18s, sys: 659 ms, total: 1min 19s
Wall time: 1min 20s

,Cust_Rating,Datetime,Review,Resturant,City,State,Zipcode,Business_Rating_Score,Review_expanded,Review_Token,Review_Stem
0,5.0,2008-09-29 09:33:04,its the best pizza hut i'v found in florida al...,Pizza Hut,Orlando,FL,32819,3.5,its the best pizza hut i'v found in florida al...,"[its, the, best, pizza, hut, i, ', v, found, i...","[it, the, best, pizza, hut, i, ', v, found, in..."
1,3.0,2013-12-06 23:22:26,"This place is an interesting combo. The chef, ...",La Mongerie Bakery & Bistro,Atlanta,GA,30308,3.0,"This place is an interesting combo. The chef, ...","[This, place, is, an, interesting, combo, ., T...","[this, place, is, an, interest, combo, ., the,..."
2,5.0,2008-11-16 09:44:04,Pizza Hut is great! You get huge pizzas for yo...,Pizza Hut,Orlando,FL,32819,3.5,Pizza Hut is great! You get huge pizzas for yo...,"[Pizza, Hut, is, great, !, You, get, huge, piz...","[pizza, hut, is, great, !, you, get, huge, piz..."

In [ ]:
# Define preprocessing function
from nltk.corpus import stopwords
nltk.download('stopwords')
from string import punctuation

def preprocessing(tokens):
  tokens = [token.lower() for token in tokens] # lowercasing
  
  tokens = [token for token in tokens if not token.isdigit()] # remove digit

  tokens = [token for token in tokens if token not in punctuation] # remove punctuations

  mystopwords = set(stopwords.words("english")) 
  tokens = [token for token in tokens if token not in mystopwords] # remove stopwords
  
  tokens = [word for word in tokens if len(word)>=3] # remove words with one or two characters

  return tokens

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

In [ ]:
# Apply text preprocessing
df['Review_Stem_Final'] = df['Review_Stem'].apply(preprocessing) 
df.head(3)

,Cust_Rating,Datetime,Review,Resturant,City,State,Zipcode,Business_Rating_Score,Review_expanded,Review_Token,Review_Stem,Review_Stem_Final
0,5.0,2008-09-29 09:33:04,its the best pizza hut i'v found in florida al...,Pizza Hut,Orlando,FL,32819,3.5,its the best pizza hut i'v found in florida al...,"[its, the, best, pizza, hut, i, ', v, found, i...","[it, the, best, pizza, hut, i, ', v, found, in...","[best, pizza, hut, found, florida, alway, got,..."
1,3.0,2013-12-06 23:22:26,"This place is an interesting combo. The chef, ...",La Mongerie Bakery & Bistro,Atlanta,GA,30308,3.0,"This place is an interesting combo. The chef, ...","[This, place, is, an, interesting, combo, ., T...","[this, place, is, an, interest, combo, ., the,...","[place, interest, combo, chef, david, incred, ..."
2,5.0,2008-11-16 09:44:04,Pizza Hut is great! You get huge pizzas for yo...,Pizza Hut,Orlando,FL,32819,3.5,Pizza Hut is great! You get huge pizzas for yo...,"[Pizza, Hut, is, great, !, You, get, huge, piz...","[pizza, hut, is, great, !, you, get, huge, piz...","[pizza, hut, great, get, huge, pizza, money, s..."

In [ ]:
# find top 500 stems based on the count frequency
from nltk import FreqDist
# use FreqDis() to find the frequency disctibution for each token
%time fdist_reviews= FreqDist([token for sublist in df['Review_Stem_Final'].values for token in sublist])
print('The total number of tokens:',fdist_reviews.N())
print('The number of unique tokens:', len(fdist_reviews))

CPU times: user 2.27 s, sys: 49.4 ms, total: 2.31 s
Wall time: 2.33 s
The total number of tokens: 3280775
The number of unique tokens: 36576

In [ ]:
# test on the a case
fdist_reviews['pizza']

12537

In [ ]:
# let's sort the items based on the frequency count
fdist_reviews_list = sorted(fdist_reviews.items(), key=lambda x:x[1], reverse= True)
print(type(fdist_reviews_list)) # this is a list of tuples
print('The first item in the list:', fdist_reviews_list[0])

<class 'list'>
The first item in the list: ('food', 46592)

In [ ]:
# see the top 10 tokens and its count
for x in fdist_reviews_list[:10]:
    print (x[0], x[1])

food 46592
place 37388
good 36195
order 35736
like 25468
time 25272
great 24283
veri 24047
get 22487
would 22163

In [ ]:
# create a list of top 500 tokens
token_list = [token[0] for token in fdist_reviews_list[:500]]
print(len(token_list))

500

In [ ]:
# define function to filter token
def remove500(tokens):
  tokens = [token for token in tokens if token in token_list] # keep the token in the token_list
  return tokens

In [ ]:
# Apply text filtering
df['Cleaned_Review_Stems'] = df['Review_Stem_Final'].apply(remove500) 
df.head(3)

,Cust_Rating,Datetime,Review,Resturant,City,State,Zipcode,Business_Rating_Score,Review_expanded,Review_Token,Review_Stem,Review_Stem_Final,Cleaned_Review_Stems
0,5.0,2008-09-29 09:33:04,its the best pizza hut i'v found in florida al...,Pizza Hut,Orlando,FL,32819,3.5,its the best pizza hut i'v found in florida al...,"[its, the, best, pizza, hut, i, ', v, found, i...","[it, the, best, pizza, hut, i, ', v, found, in...","[best, pizza, hut, found, florida, alway, got,...","[best, pizza, found, alway, got, great, deal, ..."
1,3.0,2013-12-06 23:22:26,"This place is an interesting combo. The chef, ...",La Mongerie Bakery & Bistro,Atlanta,GA,30308,3.0,"This place is an interesting combo. The chef, ...","[This, place, is, an, interesting, combo, ., T...","[this, place, is, an, interest, combo, ., the,...","[place, interest, combo, chef, david, incred, ...","[place, chef, incred, cook, food, perfect, tas..."
2,5.0,2008-11-16 09:44:04,Pizza Hut is great! You get huge pizzas for yo...,Pizza Hut,Orlando,FL,32819,3.5,Pizza Hut is great! You get huge pizzas for yo...,"[Pizza, Hut, is, great, !, You, get, huge, piz...","[pizza, hut, is, great, !, you, get, huge, piz...","[pizza, hut, great, get, huge, pizza, money, s...","[pizza, great, get, huge, pizza, money, servic..."

In [ ]:
# top 5 reviews
df.head(5)

,Cust_Rating,Datetime,Review,Resturant,City,State,Zipcode,Business_Rating_Score,Review_expanded,Review_Token,Review_Stem,Review_Stem_Final,Cleaned_Review_Stems
0,5.0,2008-09-29 09:33:04,its the best pizza hut i'v found in florida al...,Pizza Hut,Orlando,FL,32819,3.5,its the best pizza hut i'v found in florida al...,"[its, the, best, pizza, hut, i, ', v, found, i...","[it, the, best, pizza, hut, i, ', v, found, in...","[best, pizza, hut, found, florida, alway, got,...","[best, pizza, found, alway, got, great, deal, ..."
1,3.0,2013-12-06 23:22:26,"This place is an interesting combo. The chef, ...",La Mongerie Bakery & Bistro,Atlanta,GA,30308,3.0,"This place is an interesting combo. The chef, ...","[This, place, is, an, interesting, combo, ., T...","[this, place, is, an, interest, combo, ., the,...","[place, interest, combo, chef, david, incred, ...","[place, chef, incred, cook, food, perfect, tas..."
2,5.0,2008-11-16 09:44:04,Pizza Hut is great! You get huge pizzas for yo...,Pizza Hut,Orlando,FL,32819,3.5,Pizza Hut is great! You get huge pizzas for yo...,"[Pizza, Hut, is, great, !, You, get, huge, piz...","[pizza, hut, is, great, !, you, get, huge, piz...","[pizza, hut, great, get, huge, pizza, money, s...","[pizza, great, get, huge, pizza, money, servic..."
3,5.0,2016-04-11 17:00:34,Always a great place to taste some tea with fr...,Teavana,Atlanta,GA,30326,3.0,Always a great place to taste some tea with fr...,"[Always, a, great, place, to, taste, some, tea...","[alway, a, great, place, to, tast, some, tea, ...","[alway, great, place, tast, tea, friend, staff...","[alway, great, place, tast, tea, friend, staff..."
4,4.0,2015-05-26 06:47:56,Delish! Stopped in on a random Sunday and so g...,Native Foods Cafe,Happy Valley,OR,97086,4.5,Delish! Stopped in on a random Sunday and so g...,"[Delish, !, Stopped, in, on, a, random, Sunday...","[delish, !, stop, in, on, a, random, sunday, a...","[delish, stop, random, sunday, glad, normal, e...","[stop, sunday, glad, eat, found, make, good, c..."

## Question 3: Save cleaned reviews

In [ ]:
# Save cleaned reviews for later analysis
df.to_csv('/content/drive/MyDrive/Colab Notebooks/Mydata/cleaned_restaurant_review_stems.csv')

## Question 4: Review aggregation

In [ ]:
# Automatically mount google drive using the file browser or
# mount google drive using code below
from google.colab import drive
drive.mount('/content/drive',  force_remount=False)

Mounted at /content/drive

In [ ]:
import pandas as pd
# read a local csv file into Pandas DataFrame
%cd drive/MyDrive/Colab Notebooks/Mydata/
col_name = ['Cust_Rating', 'Datetime', 'Review', 'Resturant', 'City', 'State', 'Zipcode', 'Business_Rating_Score']
df = pd.read_csv("Restaurant_reviews_R.csv", header=None, names = col_name)
df.head(3)

[Errno 2] No such file or directory: 'drive/MyDrive/Colab Notebooks/Mydata/'
/content/drive/MyDrive/Colab Notebooks/Mydata

,Cust_Rating,Datetime,Review,Resturant,City,State,Zipcode,Business_Rating_Score
0,5.0,2008-09-29 09:33:04,its the best pizza hut i'v found in florida al...,Pizza Hut,Orlando,FL,32819,3.5
1,3.0,2013-12-06 23:22:26,"This place is an interesting combo. The chef, ...",La Mongerie Bakery & Bistro,Atlanta,GA,30308,3.0
2,5.0,2008-11-16 09:44:04,Pizza Hut is great! You get huge pizzas for yo...,Pizza Hut,Orlando,FL,32819,3.5

In [ ]:
# groupby to get the column we need
# get the idea here: https://stackoverflow.com/questions/27298178/concatenate-strings-from-several-rows-using-pandas-groupby

df_gb = df.groupby(['Resturant', 'Zipcode', 'City', 'State', 'Business_Rating_Score'])['Review'].apply(lambda x: ' '.join(x)).reset_index()
print('Number of rows: ', len(df_gb))

Number of rows:  1075

In [ ]:
df_gb.head()

,Resturant,Zipcode,City,State,Business_Rating_Score,Review
0,1/2 Roll,V5V 3P6,Vancouver,BC,3.0,The ambience is kind of funky & interesting. F...
1,21 Nickels,02472,Watertown,MA,4.0,I like 21 Nickels a ton and they'd attract mor...
2,24 Hour Pizza Delivery,02124,Boston,MA,1.0,This place needs to be shut down. I couldn't b...
3,3 Monkeys Pub & Grill,98665,Vancouver,WA,3.0,"Well, it's re-opened.\n\nStopped in today just..."
4,5th St Ribs-N-Blues,30308,Atlanta,GA,3.0,First visit here for my weekly southern BBQ fi...

## Question 5: Annotation with NER tags

In [ ]:
# create NER taggs using spaCy
import spacy

nlp = spacy.load('en_core_web_sm')

In [ ]:
# create a function count number of NE tags for a specific NER category 
def ne_spacy_tagger(row, col_name, ner_cat):
  tag_list = []
  text = row[col_name]
  doc = nlp(text)
  for ent in doc.ents:
    entity = ent.text
    en_category = ent.label_
    t = (en_category, entity)
    if en_category == ner_cat:
      tag_list.append(t)
  return len(set(tag_list))

In [ ]:
# Need to drop rows that have an empty review
df_gb.dropna(inplace = True)
df_gb['Review'].isnull().values.any()

False

In [ ]:
df_ner_spacy = df_gb.copy()

# create NER category Organization feature

%time df_ner_spacy['NER_ORG'] = df_ner_spacy.apply(lambda row:ne_spacy_tagger(row, 'Review', 'ORG'), axis =1)

%time df_ner_spacy['NER_DATE'] = df_ner_spacy.apply(lambda row:ne_spacy_tagger(row, 'Review', 'DATE'), axis =1)

%time df_ner_spacy['NER_Person'] = df_ner_spacy.apply(lambda row:ne_spacy_tagger(row, 'Review', 'PERSON'), axis =1)

CPU times: user 17min 17s, sys: 10.7 s, total: 17min 28s
Wall time: 17min 28s
CPU times: user 17min, sys: 10.9 s, total: 17min 11s
Wall time: 17min 10s
CPU times: user 16min 59s, sys: 11.1 s, total: 17min 10s
Wall time: 17min 9s

In [ ]:
df_ner_spacy.head()

,Resturant,Zipcode,City,State,Business_Rating_Score,Review,NER_ORG,NER_DATE,NER_Person
0,1/2 Roll,V5V 3P6,Vancouver,BC,3.0,The ambience is kind of funky & interesting. F...,18,11,23
1,21 Nickels,02472,Watertown,MA,4.0,I like 21 Nickels a ton and they'd attract mor...,25,31,30
2,24 Hour Pizza Delivery,02124,Boston,MA,1.0,This place needs to be shut down. I couldn't b...,11,3,4
3,3 Monkeys Pub & Grill,98665,Vancouver,WA,3.0,"Well, it's re-opened.\n\nStopped in today just...",21,28,26
4,5th St Ribs-N-Blues,30308,Atlanta,GA,3.0,First visit here for my weekly southern BBQ fi...,10,4,13

In [ ]:
# Save cleaned reviews for later analysis
df_ner_spacy.to_csv('/content/drive/MyDrive/Colab Notebooks/Mydata/restaurant_review_NER.csv')

## Question 6: Cleaned review with lemmas

In [ ]:
# Automatically mount google drive using the file browser or
# mount google drive using code below
from google.colab import drive
drive.mount('/content/drive',  force_remount=False)

Mounted at /content/drive

In [ ]:
import pandas as pd
# read a local csv file into Pandas DataFrame
%cd drive/MyDrive/Colab Notebooks/Mydata/
col_name = ['Cust_Rating', 'Datetime', 'Review', 'Resturant', 'City', 'State', 'Zipcode', 'Business_Rating_Score']
df = pd.read_csv("Restaurant_reviews_R.csv", header=None, names = col_name)
df.head(3)

/content/drive/MyDrive/Colab Notebooks/Mydata

,Cust_Rating,Datetime,Review,Resturant,City,State,Zipcode,Business_Rating_Score
0,5.0,2008-09-29 09:33:04,its the best pizza hut i'v found in florida al...,Pizza Hut,Orlando,FL,32819,3.5
1,3.0,2013-12-06 23:22:26,"This place is an interesting combo. The chef, ...",La Mongerie Bakery & Bistro,Atlanta,GA,30308,3.0
2,5.0,2008-11-16 09:44:04,Pizza Hut is great! You get huge pizzas for yo...,Pizza Hut,Orlando,FL,32819,3.5

In [ ]:
# groupby to get the aggregated strings we need

df_gp = df.groupby(['Resturant', 'Zipcode', 'City', 'State', 'Business_Rating_Score'])['Review'].apply(lambda x: ' '.join(x)).reset_index()
df_gp.head()

,Resturant,Zipcode,City,State,Business_Rating_Score,Review
0,1/2 Roll,V5V 3P6,Vancouver,BC,3.0,The ambience is kind of funky & interesting. F...
1,21 Nickels,02472,Watertown,MA,4.0,I like 21 Nickels a ton and they'd attract mor...
2,24 Hour Pizza Delivery,02124,Boston,MA,1.0,This place needs to be shut down. I couldn't b...
3,3 Monkeys Pub & Grill,98665,Vancouver,WA,3.0,"Well, it's re-opened.\n\nStopped in today just..."
4,5th St Ribs-N-Blues,30308,Atlanta,GA,3.0,First visit here for my weekly southern BBQ fi...

In [ ]:
print('Number of rows: ', len(df_gp))

Number of rows:  1075

In [ ]:
# Contraction expansion
!pip install contractions
import contractions

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting contractions
  Downloading contractions-0.1.72-py2.py3-none-any.whl (8.3 kB)
Collecting textsearch>=0.0.21
  Downloading textsearch-0.0.24-py2.py3-none-any.whl (7.6 kB)
Collecting anyascii
  Downloading anyascii-0.3.1-py3-none-any.whl (287 kB)
     |████████████████████████████████| 287 kB 3.9 MB/s
Collecting pyahocorasick
  Downloading pyahocorasick-1.4.4-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (106 kB)
     |████████████████████████████████| 106 kB 52.5 MB/s
Installing collected packages: pyahocorasick, anyascii, textsearch, contractions
Successfully installed anyascii-0.3.1 contractions-0.1.72 pyahocorasick-1.4.4 textsearch-0.0.24

In [ ]:
# Define contraction funtion
def contraction_expansion(text):
  expanded_word = []    
  for word in text.split():
  # using contractions.fix to expand
    expanded_word.append(contractions.fix(word))   
   
  return  ' '.join(expanded_word)

In [ ]:
# Test to see if there was any empty reviews in the dataset
df_gp['Review'].isnull().values.any()

False

In [ ]:
# There is no empty reviews, so we start to work on contraction 
df_gp['Review_expanded'] = df_gp['Review'].apply(contraction_expansion)
df_gp.iloc[5:9,:]

,Resturant,Zipcode,City,State,Business_Rating_Score,Review,Review_expanded
5,87th & Meatballs,97203,Portland,OR,4.0,Great vegan balls. Got the spaghetti with mari...,Great vegan balls. Got the spaghetti with mari...
6,99 Restaurants,01801,Woburn,MA,3.0,After all these years I'm still mad they took ...,After all these years I am still mad they took...
7,99 Restaurants,01970,Salem,MA,3.0,I ordered potato skins and was charged extra f...,I ordered potato skins and was charged extra f...
8,99 Restaurants,02370,Rockland,MA,3.0,"99 is the ultimate ""default"" restaurant especi...","99 is the ultimate ""default"" restaurant especi..."

In [ ]:
# tokenize each review in the dataframe
from nltk.tokenize import wordpunct_tokenize
%time df_gp['Review_Token'] = df_gp['Review_expanded'].apply(wordpunct_tokenize)
df_gp.head(3)

CPU times: user 1.66 s, sys: 311 ms, total: 1.97 s
Wall time: 1.97 s

,Resturant,Zipcode,City,State,Business_Rating_Score,Review,Review_expanded,Review_Token
0,1/2 Roll,V5V 3P6,Vancouver,BC,3.0,The ambience is kind of funky & interesting. F...,The ambience is kind of funky & interesting. F...,"[The, ambience, is, kind, of, funky, &, intere..."
1,21 Nickels,02472,Watertown,MA,4.0,I like 21 Nickels a ton and they'd attract mor...,I like 21 Nickels a ton and they would attract...,"[I, like, 21, Nickels, a, ton, and, they, woul..."
2,24 Hour Pizza Delivery,02124,Boston,MA,1.0,This place needs to be shut down. I couldn't b...,This place needs to be shut down. I could not ...,"[This, place, needs, to, be, shut, down, ., I,..."

In [ ]:
# import POS libiaries
import nltk
nltk.download('punkt') 
nltk.download('averaged_perceptron_tagger') 
nltk.download('wordnet')
nltk.download('omw-1.4')
from nltk.tag import pos_tag
from nltk.stem import WordNetLemmatizer

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Unzipping taggers/averaged_perceptron_tagger.zip.
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data] Downloading package omw-1.4 to /root/nltk_data...

In [ ]:
# create POS tag
%time df_gp['Review_tagged'] = df_gp['Review_Token'].apply(nltk.pos_tag)
df_gp.head(3)

CPU times: user 5min 1s, sys: 1.69 s, total: 5min 3s
Wall time: 5min 4s

,Resturant,Zipcode,City,State,Business_Rating_Score,Review,Review_expanded,Review_Token,Review_tagged
0,1/2 Roll,V5V 3P6,Vancouver,BC,3.0,The ambience is kind of funky & interesting. F...,The ambience is kind of funky & interesting. F...,"[The, ambience, is, kind, of, funky, &, intere...","[(The, DT), (ambience, NN), (is, VBZ), (kind, ..."
1,21 Nickels,02472,Watertown,MA,4.0,I like 21 Nickels a ton and they'd attract mor...,I like 21 Nickels a ton and they would attract...,"[I, like, 21, Nickels, a, ton, and, they, woul...","[(I, PRP), (like, VBP), (21, CD), (Nickels, NN..."
2,24 Hour Pizza Delivery,02124,Boston,MA,1.0,This place needs to be shut down. I couldn't b...,This place needs to be shut down. I could not ...,"[This, place, needs, to, be, shut, down, ., I,...","[(This, DT), (place, NN), (needs, VBZ), (to, T..."

In [ ]:
# create a function to lemmatize words based on different POS tag types; 
# slightly change from earlier as input is not a tagged corpus, but an individual tagged column
def lemmatize_POS (tagged_columns):
  wnl = WordNetLemmatizer()
  text=[]
  for word, tag in tagged_columns:
    if tag.startswith('NN'):
      token = wnl.lemmatize(word, pos='n') # n is NOUN 
    elif tag.startswith('VB'):
      token = wnl.lemmatize(word, pos='v') # v is VERB
    elif tag.startswith('JJ'):
      token = wnl.lemmatize(word, pos='a') # a is ADJ
    elif tag.startswith('RB'):
      token = wnl.lemmatize(word, pos='r') # r is ADV
    else:
      token = word
    text.append(token)
  #cleaned_corpus.append(text)
  return text

In [ ]:
%time df_gp['Review_lemmas'] = df_gp['Review_tagged'].apply(lemmatize_POS)
df_gp['Review_lemmas'].head(3)

CPU times: user 22.2 s, sys: 204 ms, total: 22.4 s
Wall time: 23 s

0    [The, ambience, be, kind, of, funky, &, intere...
1    [I, like, 21, Nickels, a, ton, and, they, woul...
2    [This, place, need, to, be, shut, down, ., I, ...
Name: Review_lemmas, dtype: object

In [ ]:
# Define preprocessing function
from nltk.corpus import stopwords
nltk.download('stopwords')
from string import punctuation

def preprocessing(tokens):
  tokens = [token.lower() for token in tokens] # lowercasing
  
  tokens = [token for token in tokens if not token.isdigit()] # remove digit

  tokens = [token for token in tokens if token not in punctuation] # remove punctuations

  mystopwords = set(stopwords.words("english")) 
  tokens = [token for token in tokens if token not in mystopwords] # remove stopwords
  
  tokens = [word for word in tokens if len(word)>=3] # remove words with one or two characters

  return tokens

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

In [ ]:
# now let's apply text normalization
%time df_gp['Review_lemmas_final'] = df_gp['Review_lemmas'].apply(preprocessing)
df_gp['Review_lemmas_final'].head(3)

CPU times: user 3.71 s, sys: 245 ms, total: 3.96 s
Wall time: 3.97 s

0    [ambience, kind, funky, interesting, food, ser...
1    [like, nickels, ton, would, attract, business,...
2    [place, need, shut, could, believe, rude, pers...
Name: Review_lemmas_final, dtype: object

In [ ]:
# count the frequency of each unique token
from nltk import FreqDist
# use FreqDis() to find the frequency disctibution for each token
%time fdist_reviews= FreqDist([token for sublist in df_gp['Review_lemmas_final'].values for token in sublist])
print('The total number of tokens:',fdist_reviews.N())
print('The number of unique tokens:', len(fdist_reviews))

CPU times: user 2.48 s, sys: 50.1 ms, total: 2.53 s
Wall time: 2.54 s
The total number of tokens: 3199887
The number of unique tokens: 46502

In [ ]:
# let's sort the items based on the frequency count
fdist_reviews_list = sorted(fdist_reviews.items(), key=lambda x:x[1], reverse= True)
type(fdist_reviews_list) # this is a list of tuples

list

In [ ]:
# fdist_review_list is a list of tuples, so simply print them will show the token and its count
# see the top 20 tokens and its count
for x in fdist_reviews_list[:20]:
    print (x[0], x[1])

food 46420
good 40232
place 37312
get 35303
order 34138
time 24920
like 24817
great 24368
would 22163
come 21720
service 21310
one 20801
make 18379
back 17870
try 17131
really 15631
chicken 15103
restaurant 14731
say 14230
take 13871

In [ ]:
# create a text column with tagged tokens
%time df_gp['Cleaned_review_lemma'] = df_gp['Review_lemmas_final'].apply(lambda row: ' '.join(str(x) for x in row))
df_gp.head()

CPU times: user 620 ms, sys: 4.99 ms, total: 625 ms
Wall time: 628 ms

,Resturant,Zipcode,City,State,Business_Rating_Score,Review,Review_expanded,Review_Token,Review_tagged,Review_lemmas,Review_lemmas_final,Cleaned_review_lemma
0,1/2 Roll,V5V 3P6,Vancouver,BC,3.0,The ambience is kind of funky & interesting. F...,The ambience is kind of funky & interesting. F...,"[The, ambience, is, kind, of, funky, &, intere...","[(The, DT), (ambience, NN), (is, VBZ), (kind, ...","[The, ambience, be, kind, of, funky, &, intere...","[ambience, kind, funky, interesting, food, ser...",ambience kind funky interesting food service g...
1,21 Nickels,02472,Watertown,MA,4.0,I like 21 Nickels a ton and they'd attract mor...,I like 21 Nickels a ton and they would attract...,"[I, like, 21, Nickels, a, ton, and, they, woul...","[(I, PRP), (like, VBP), (21, CD), (Nickels, NN...","[I, like, 21, Nickels, a, ton, and, they, woul...","[like, nickels, ton, would, attract, business,...",like nickels ton would attract business donahu...
2,24 Hour Pizza Delivery,02124,Boston,MA,1.0,This place needs to be shut down. I couldn't b...,This place needs to be shut down. I could not ...,"[This, place, needs, to, be, shut, down, ., I,...","[(This, DT), (place, NN), (needs, VBZ), (to, T...","[This, place, need, to, be, shut, down, ., I, ...","[place, need, shut, could, believe, rude, pers...",place need shut could believe rude person answ...
3,3 Monkeys Pub & Grill,98665,Vancouver,WA,3.0,"Well, it's re-opened.\n\nStopped in today just...","Well, it is re-opened. Stopped in today just t...","[Well, ,, it, is, re, -, opened, ., Stopped, i...","[(Well, RB), (,, ,), (it, PRP), (is, VBZ), (re...","[Well, ,, it, be, re, -, open, ., Stopped, in,...","[well, open, stopped, today, see, change, make...",well open stopped today see change make new ow...
4,5th St Ribs-N-Blues,30308,Atlanta,GA,3.0,First visit here for my weekly southern BBQ fi...,First visit here for my weekly southern BBQ fi...,"[First, visit, here, for, my, weekly, southern...","[(First, RB), (visit, NN), (here, RB), (for, I...","[First, visit, here, for, my, weekly, southern...","[first, visit, weekly, southern, bbq, fix, pla...",first visit weekly southern bbq fix place much...

## Question 7: BOW vectorization

In [ ]:
# create a list of top 200 tokens
token_list = [token[0] for token in fdist_reviews_list[:200]]

In [ ]:
print(len(token_list))
print(token_list) # take a look at the token features

200
['food', 'good', 'place', 'get', 'order', 'time', 'like', 'great', 'would', 'come', 'service', 'one', 'make', 'back', 'try', 'really', 'chicken', 'restaurant', 'say', 'take', 'also', '...', 'well', 'eat', 'pizza', 'love', 'give', 'nice', 'even', 'want', 'wait', 'delicious', 'menu', 'look', 'best', 'could', 'taste', 'price', 'friendly', 'always', 'little', 'ask', 'think', 'sauce', 'staff', 'know', 'fresh', 'drink', 'never', 'people', 'first', 'table', 'bad', 'much', 'cheese', 'salad', 'definitely', 'sandwich', 'pretty', 'find', 'lunch', 'location', 'minute', 'fry', 'thing', 'meal', 'way', 'bar', 'tell', 'two', 'day', 'experience', 'work', 'customer', 'dish', 'star', 'small', 'new', 'right', 'see', 'night', 'lot', 'still', 'friend', 'rice', 'serve', 'ever', 'flavor', 'side', 'need', 'everything', 'recommend', 'area', 'hot', 'cannot', 'around', 'bit', 'roll', 'sure', 'review', 'seem', 'use', 'burger', 'leave', 'since', 'meat', 'server', 'dinner', 'though', 'hour', 'coffee', 'call', 'something', 'visit', 'long', 'enjoy', 'sushi', 'open', 'sit', 'tasty', 'cook', 'next', 'quality', 'another', 'every', 'super', 'walk', 'big', 'last', 'many', 'soup', 'favorite', 'option', 'home', 'spot', 'special', 'bread', 'year', 'sweet', 'owner', 'check', 'close', 'pay', 'feel', 'bring', 'kind', 'portion', 'enough', 'clean', 'beef', 'beer', 'taco', 'happy', 'breakfast', 'large', 'top', 'stop', 'fish', 'excellent', 'nothing', 'fast', 'worth', 'amazing', 'spicy', 'different', 'expect', 'awesome', 'however', 'end', 'waitress', 'item', 'tea', 'free', 'offer', 'keep', 'away', 'put', 'decide', 'drive', 'manager', 'inside', 'family', 'guy', 'wing', 'quite', 'probably', 'half', 'maybe', 'start', 'seat', 'old', 'egg', 'perfect', 'line', 'overall', 'actually', 'cream', 'let', 'busy', 'steak']

In [ ]:
# using token frequency as features
def frequency_feature(row, col_name, word):
  if word in row[col_name]:
    return row[col_name].count(word)
  else:
    return 0

In [ ]:
# Frequency-based BOW
df_freq = df_gp.copy()

import time 
start = time.time()

# BOW as feature names
for word in token_list:
  df_freq[word] = df_freq.apply(lambda row:frequency_feature(row, 'Cleaned_review_lemma', word), axis =1)

print((time.time() - start))

9.053644895553589

In [ ]:
df_freq.head()

,Resturant,Zipcode,City,State,Business_Rating_Score,Review,Review_expanded,Review_Token,Review_tagged,Review_lemmas,...,old,egg,perfect,line,overall,actually,cream,let,busy,steak
0,1/2 Roll,V5V 3P6,Vancouver,BC,3.0,The ambience is kind of funky & interesting. F...,The ambience is kind of funky & interesting. F...,"[The, ambience, is, kind, of, funky, &, intere...","[(The, DT), (ambience, NN), (is, VBZ), (kind, ...","[The, ambience, be, kind, of, funky, &, intere...",...,2,1,3,1,5,5,3,4,5,0
1,21 Nickels,02472,Watertown,MA,4.0,I like 21 Nickels a ton and they'd attract mor...,I like 21 Nickels a ton and they would attract...,"[I, like, 21, Nickels, a, ton, and, they, woul...","[(I, PRP), (like, VBP), (21, CD), (Nickels, NN...","[I, like, 21, Nickels, a, ton, and, they, woul...",...,9,7,7,3,5,5,2,8,4,11
2,24 Hour Pizza Delivery,02124,Boston,MA,1.0,This place needs to be shut down. I couldn't b...,This place needs to be shut down. I could not ...,"[This, place, needs, to, be, shut, down, ., I,...","[(This, DT), (place, NN), (needs, VBZ), (to, T...","[This, place, need, to, be, shut, down, ., I, ...",...,2,0,0,0,0,2,0,1,1,0
3,3 Monkeys Pub & Grill,98665,Vancouver,WA,3.0,"Well, it's re-opened.\n\nStopped in today just...","Well, it is re-opened. Stopped in today just t...","[Well, ,, it, is, re, -, opened, ., Stopped, i...","[(Well, RB), (,, ,), (it, PRP), (is, VBZ), (re...","[Well, ,, it, be, re, -, open, ., Stopped, in,...",...,7,0,7,0,1,1,1,6,0,0
4,5th St Ribs-N-Blues,30308,Atlanta,GA,3.0,First visit here for my weekly southern BBQ fi...,First visit here for my weekly southern BBQ fi...,"[First, visit, here, for, my, weekly, southern...","[(First, RB), (visit, NN), (here, RB), (for, I...","[First, visit, here, for, my, weekly, southern...",...,3,7,1,0,1,3,1,5,0,0

In [ ]:
# similarly, create a unique ID for each review
df_freq = df_freq.reset_index().rename(columns={'index': 'reviewID'})

# Save the frequency features in our drive, so we can load it later for analysis
df_freq.to_csv('/content/drive/MyDrive/Colab Notebooks/Mydata/restaurant_review_BOW.csv')
df_freq.head(5)

,reviewID,Resturant,Zipcode,City,State,Business_Rating_Score,Review,Review_expanded,Review_Token,Review_tagged,...,old,egg,perfect,line,overall,actually,cream,let,busy,steak
0,0,1/2 Roll,V5V 3P6,Vancouver,BC,3.0,The ambience is kind of funky & interesting. F...,The ambience is kind of funky & interesting. F...,"[The, ambience, is, kind, of, funky, &, intere...","[(The, DT), (ambience, NN), (is, VBZ), (kind, ...",...,2,1,3,1,5,5,3,4,5,0
1,1,21 Nickels,02472,Watertown,MA,4.0,I like 21 Nickels a ton and they'd attract mor...,I like 21 Nickels a ton and they would attract...,"[I, like, 21, Nickels, a, ton, and, they, woul...","[(I, PRP), (like, VBP), (21, CD), (Nickels, NN...",...,9,7,7,3,5,5,2,8,4,11
2,2,24 Hour Pizza Delivery,02124,Boston,MA,1.0,This place needs to be shut down. I couldn't b...,This place needs to be shut down. I could not ...,"[This, place, needs, to, be, shut, down, ., I,...","[(This, DT), (place, NN), (needs, VBZ), (to, T...",...,2,0,0,0,0,2,0,1,1,0
3,3,3 Monkeys Pub & Grill,98665,Vancouver,WA,3.0,"Well, it's re-opened.\n\nStopped in today just...","Well, it is re-opened. Stopped in today just t...","[Well, ,, it, is, re, -, opened, ., Stopped, i...","[(Well, RB), (,, ,), (it, PRP), (is, VBZ), (re...",...,7,0,7,0,1,1,1,6,0,0
4,4,5th St Ribs-N-Blues,30308,Atlanta,GA,3.0,First visit here for my weekly southern BBQ fi...,First visit here for my weekly southern BBQ fi...,"[First, visit, here, for, my, weekly, southern...","[(First, RB), (visit, NN), (here, RB), (for, I...",...,3,7,1,0,1,3,1,5,0,0